* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("Images/BACKG.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
/* 
    Game title
*/
.game-title {
  font-family: indie flower;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-title h1 {
  font-size: 90px;
  color: #ce0000;
  text-shadow: 10px 10px 10px black;
  transition: 0.4s;
}
.game-title h1:hover {
  color: #ff3131;
  cursor: pointer;
}
/* 
    Main menu buttons
*/
.main-menu-btns {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}
.main-menu-btns button {
  cursor: pointer;
  height: 70px;
  width: 150px;
  border-radius: 50px;
  background: none;
  font-family: monospace;
  font-size: 20px;
  font-weight: 900;
  color: rgb(255, 72, 0);
  border: 3px solid rgb(255, 72, 0);
  transition: 0.25s;
}
.main-menu-btns button:hover {
  color: #ff5050;
  border: 3px solid #ff5050;
}
.main-menu-btns button:active {
  transition: 0.3s;
  color: #fd9898;
  border: 3px solid #fd9898;
}

/* INSTRUCTION */

.Instruction {
  position: fixed;
  top: 200px;
  right: 350px;
  font-family: monospace;
  text-align: center;
  background-color: #630000b6;
  color: white;
  padding: 100px;
  border-radius: 20px;
  display: none;
}
.Instruction button {
  background-color: #000000;
  color: white;
  border: none;
  padding: 20px;
  font-weight: bold;
  margin-top: 50px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.25s;
}
.Instruction button:hover {
  opacity: 0.7;
}

/* DEV MESSAGE */
.dev-message {
  position: fixed;
  top: 200px;
  right: 420px;
  font-family: monospace;
  text-align: center;
  background-color: #630000b6;
  color: white;
  padding: 100px;
  border-radius: 20px;
  display: none;
}
.dev-message button {
  background-color: #000000;
  color: white;
  border: none;
  padding: 20px;
  font-weight: bold;
  margin-top: 50px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.25s;
}
.dev-message button:hover {
  opacity: 0.7;
}
/* Icons */
.muted-icon i {
  position: fixed;
  top: 640px;
  right: 40px;
  font-size: 50px;
  color: #ff3535be;
  cursor: pointer;
  transition: 0.25s;
}
.muted-icon i:hover {
  color: #ce0000;
}

#musicOn {
  display: none;
}
